body,
html,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* .custom-info-control {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.4;
  margin: 10px;
  max-width: 220px;
  backdrop-filter: blur(4px);
} */

.custom-info-control .info-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.custom-info-control .info-panel {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
